<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Acme Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<link rel="icon" href="https://acme.svipe.com/logo.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    html, body { height: 100%;}
    .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
</style>
</head>
<body>
    <div >
        <div class="modal-body text-center">
            <div class="profile__logo" id="" aria-hidden="true" >
                <p>
                    <img id="profile__logo__app-image" height=100  src="{{{logo}}}"></img>
                </p>
            </div>
            <div id = "signin">
                <h3>
                <a href = "javascript:showQR()">Sign in with Svipe iD</a>
                </h3>
            </div>
            <div id="signup">
                <p>To sign in using your Svipe iD, please scan this code</p>
                <div id="qrcode"><img src={{{srcpic}}} width="50%"></div>
            </div>
            <div id="progress">
                <p>Waiting for approval of the selective disclosure request</p>
            </div>
            <div id="cancel">
              <button onClick="window.location.href='{{{referrer}}}'">Cancel</button>
            </div>
        </div>
        <div id="promotion" class="modal-body text-center">
            <p>If you do not have the app installed on your phone you can download it here.</p>
            <a href="https://apps.apple.com/se/app/svipe-id/id1496637920"><img height=40 src="/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"></a>
            <a href="https://play.google.com/store/apps/details?id=se.svipe"><img height=40 src="/google-play.png"></a>
        </div>
</body>
</html>

<script type="text/javascript">

var redirect_uri = "{{{redirect_uri}}}";

$(document).ready(function() {
  setupSocket();
  $("#signup").hide();
  $("#cancel").hide();
  $("#progress").hide();
});

function showQR() {
    $("#signin").hide();
    $("#signup").show();
    $("#cancel").show();
}

function showProgress() {
    $("#signup").hide();
    $("#promotion").hide();
    $("#cancel").show();
    $("#progress").show();
}

function setupSocket() {

    const socket = io('https://acme.svipe.io');
    //const socket = io('http://localhost:4567');
    if (socket == null ) {
        console.error("Socket could not be opened");
        return;
    }
    var helloMsg = {op: 'hello', uuid: '{{{sessionID}}}' };
    socket.emit("message", helloMsg);
    socket.on("message", function(msg) {
        console.log("received ",msg);
        if (msg.op == "hello") {
            console.log("socket established");
        } else if (msg.op == "progress") {
            console.log("progress");
            showProgress();
        } else if (msg.op == "authdone") {
            var jwt = msg.jwt;
            var sub = msg.sub;
            if (jwt != null) {
                console.log("received jwt token", jwt);
                socket.close();
                
                window.location.href = redirect_uri + "?jws=" + jwt + "&sub=" + sub;
                // Now redirect 
            } else {
                console.error("No jwt token received");
            }
        } else {
            console.error("Could not contact socket server")
        }
    });   
}
</script>
