<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Acme Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<link rel="icon" href="https://acme.svipe.com/logo.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    html, body { height: 100%;}
    .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

@media only screen and (max-device-width:479px) {
  a  {font-size: 14px !important; line-height: 150% !important;}
  h1 {font-size: 22px !important; text-align: center; line-height: 120% !im=
portant;}
}

@media all {
  .b-logo    {height: 50px;}
  .b-wrapper {width: 600px; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-title   {width: 100vw; margin: 0px; padding: 40px 20px 10px 20px;}
  .b-message {width: 100vw; margin: 0px; padding:  0px 20px  0px 20px;}
  .b-qrcode  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-button  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-footer  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
}
@media only screen and (max-device-width:479px) {
  .b-logo    {height: 40px;}
  .b-wrapper {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-title   {width: 100vw; margin: 0px; padding: 15px  0px  5px  0px;}
  .b-message {width: 100vw; margin: 0px; padding:  0px  0px  0px  0px;}
  .b-qrcode  {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-button  {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-footer  {width: 100vw; margin: 0px; padding: 10px 10px 10px 10px;}
}

@media all {
  .only-desktop {display:initial;}
  .only-mobile  {display:none ;}
}
@media only screen and (max-device-width:479px) {
  .only-desktop {display:none ;}
  .only-mobile  {display:initial;}
}: 
</style>
</head>
<body>
    <div>
        <div class="modal-body text-center">
            <div class="profile__logo" id="" aria-hidden="true" >
                <p>
                    <img id="profile__logo__app-image" height=100  src="{{{logo}}}"></img>
                </p>
            </div>
            <div id="welcome">
                <h3>Welcome {{{name}}}</h3>
            </div>
            <div class="only-mobile">
                <p>
                <a href=https://app.svipe.com/cred/{{{jwsCompact}}}?mobile=1>Pick up Vaccination Badge</a>
                </p>
            </div>
            <div class="only-desktop">
                <div id="pickup"> 
                    <h3>          
                        <p><a href="javascript:showPickupQR()">Pickup Vaccination Badge</a></p>
                    </h3>
                </div>
                <div id="badge">
                     <p>To pickup your Vaccination Badge, scan this code:</p>
                    <div id="pickupqrcode"><img src={{{srcpic}}} width="30%">
                        <div id="cancelpickup">
                            <button onClick="javascript:cancelPickup();">Cancel</button>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="only-mobile">
                <p>
                <a href=https://app.svipe.com/auth/{{{jwsCompact2}}}?mobile=1>Go to members only</a>
                </p>
            </div>
            <div class="only-desktop">
                <div id="members-only"> 
                    <h3>          
                        <p><a href="javascript:showMembersQR()">Go to members only area</a></p>
                    </h3>
                </div>
                <div id="members">
                     <p>To go to memers only, scan this code:</p>
                    <div id="membersqrcode"><img src={{{srcpic}}} width="30%">
                        <div id="cancelmembers">
                            <button onClick="javascript:cancelMembers();">Cancel</button>
                        </div>
                    </div>
                </div>            
            </div>

            <div> 
                <div class="only-mobile">
                    <p>
                        <a href=https://app.svipe.com/auth/{{{jwsCompact}}}?mobile=1>Sign a contract with us</a>
                    </p>
                </div>
                <div class="only-desktop">
                    <div id=signcontract>
                    <h3>          
                        <p><a href="javascript:showContractQR()">Sign a contract with us</a></p>
                    </h3>
                    </div>
                    <div id="contract" >      
                    <p>To review and sign in the Svipe iD App, scan this code:</p>
                    <div id="contractqrcode"><img src={{{srcpic}}} width="30%"></div>
                        <div id="cancelcontract">
                            <button onClick="javascript:cancelContract();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
var redirect_uri = "{{{redirect_uri}}}";
$(document).ready(function() {
  setupSocket();
  $("#contract").hide();
  $("#signup").hide();
  $("#badge").hide();
  $("#members").hide();
  $("#cancel").hide();
  $("#progress").hide();
});

function showPickupQR() {
    $("#pickup").hide();
    $("#badge").show();
    $("#cancelpickup").show();
}

function cancelPickup() {
    $("#pickup").show();
    $("#badge").hide();
    $("#cancelpickup").hide();
}


function showMembersQR() {
    $("#members-only").hide();
    $("#members").show();
    $("#cancelmembers").show();
}

function cancelMembers() {
    $("#members-only").show();
    $("#members").hide();
    $("#cancelmembers").hide();
}

function showContractQR() {
    $("#signcontract").hide();
    $("#contract").show();
    $("#cancelcontract").show();
}

function cancelContract() {
    $("#signcontract").show();
    $("#contract").hide();
    $("#cancelcontract").hide();
}

function showProgress() {
    $("#signup").hide();
    $("#promotion").hide();
    $("#cancel").show();
    $("#progress").show();
}

function setupSocket() {

    const socket = io('https://acme.svipe.io');
    //const socket = io('http://localhost:4567');
    if (socket == null ) {
        console.error("Socket could not be opened");
        return;
    }
    var helloMsg = {op: 'hello', uuid: '{{{sessionID}}}' };
    socket.emit("message", helloMsg);
    socket.on("message", function(msg) {
        console.log("received ",msg);
        if (msg.op == "hello") {
            console.log("socket established");
        } else if (msg.op == "progress") {
            console.log("progress");
            showProgress();
        } else if (msg.op == "authdone") {
            var jws = msg.jwt;
            var sub = msg.sub;
            if (jws != null) {
                console.log("received jws token", jws);
                socket.close();
                // Now redirect 
                window.location.href = "/members/"+jws;
            } else {
                console.error("No jws token received");
            }
        } else {
            console.error("Could not contact socket server")
        }
    });   
}
</script>
